<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">Detalhes do curso</mat-toolbar>
    <form [formGroup]="form" class="formNameCat">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="name">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Categoria" formControlName="category">
      </mat-form-field>
    </form>
      <mat-card-actions class="btnAction" >
        <button mat-raised-button class="btn" color="primary" (click)="onSubmit()">
          Salvar
        </button>
        <button mat-raised-button class="btn" (click)="onCancel()">
          Cancelar
        </button>
      </mat-card-actions>
  </mat-card-content>
</mat-card>
